# Chapter 2

In [2]:
#pip install dython

In [6]:
from datetime import date, datetime

In [4]:
#to get today's date
today = date.today()

In [5]:
print(today)

2022-01-06

In [7]:
#to get a timestamp
now = datetime.now()
print(now)

2022-01-06 11:49:55.574550

In [8]:
#to get the ISO 8601 format for dates and times
now.isoformat()

'2022-01-06T11:49:55.574550'

In [10]:
#to get string format of dates
now.strftime('%A %B %d, %Y')

'Thursday January 06, 2022'

In [11]:
#more ways to format dates are here https://strftime.org

In [13]:
now.strftime('%d/%m/%Y')

'06/01/2022'

# Creating time-series data

In [14]:
import pandas as pd
pd.date_range(start='2021-03-24', end='2021-09-01')

DatetimeIndex(['2021-03-24', '2021-03-25', '2021-03-26', '2021-03-27',
               '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31',
               '2021-04-01', '2021-04-02',
               ...
               '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26',
               '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30',
               '2021-08-31', '2021-09-01'],
              dtype='datetime64[ns]', length=162, freq='D')

In [16]:
#Time series that increases by one day
pd.Series(pd.date_range("2021", freq="D", periods=10))

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
5   2021-01-06
6   2021-01-07
7   2021-01-08
8   2021-01-09
9   2021-01-10
dtype: datetime64[ns]

In [17]:
#creating 2 time-series
df = pd.DataFrame({'year': [2021, 2022],
'month': [3, 4],
'day': [24, 25]}
)
ts1 = pd.to_datetime(df)
ts2 = pd.to_datetime('20210324', format='%Y%m%d')

In [18]:
s = pd.Series([1,2,3,4,5])
s.rolling(3).sum()

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64